#floatingColl
  .contentbox.well(style=" ")
    p(style="font-size:16px; color:#1abc9c")
      b Sponsors
    p
      a(href="http://www.googleadservices.com/pagead/aclk?sa=L&ai=CJb2uc39HVOX9I9SauASZ9oLoD5n62ewFubyqvMYBv-EeEAEgAFCIstzdBGDlwuSDpA6CARVjYS1kaWdpdGFsaW5zcGlyYXRpb26IAQGgAZ-qkssDyAECqQKGPvXh5ohRPqgDAaoEb0_QH-331kfWqv2KexC7ZvcvRSpV7b1Xj7pP1gSFkLNZTU6ru_8QA2w5TEHeuZFRkRtdp52-1Zv2zbQfwFxI6zNJdQrtsd-btFEzOnSxxOzvmuHCaN32spezTk4HhLcWxh5t2zbwGCMLpck5HE_tw4gGAaAGAoAHydXtNA&num=1&cid=5GhNuHjGMfIm-myT71GW-Bpb&sig=AOD64_0JMogEXoHq_9AZtyYNwuxTMlYa-Q&client=ca-digitalinspiration&adurl=http://www.trendin.com/vanheusen/content/myfit-home-18", target="_blank")
        img(border="0", src="http://pagead2.googlesyndication.com/simgad/10498043631020452169", width="300", height="250")
      br
      small www.trendin.com
  .footer-container-div
    ul.footer-container
      li.Footer-item.Footer-copyright.copyright &#169; 2014 Woonax
      li.Footer-item
        a.Footer-link(href="/about") About
      li.Footer-item
        a.Footer-link(href="//support.twitter.com") Help
      li.Footer-item
        a.Footer-link(href="/tos") Terms
      li.Footer-item
        a.Footer-link(href="/privacy") Privacy
      li.Footer-item
        a.Footer-link(href="//support.twitter.com/articles/20170514") Cookies
      li.Footer-item
        a.Footer-link(href="https://blog.twitter.com") Blog
      li.Footer-item
        a.Footer-link(href="https://about.twitter.com/products") Apps
      li.Footer-item
        a.Footer-link(href="//ads.twitter.com/start?ref=gl-tw-tw-twitter-advertise") Advertise
