.qwell(style=" ")
  h4=pageInfo.name 
  p(style="margin-top:-10px; margin-bottom:-10px;")=(pageInfo.city + ', ' + pageInfo.state) 
  p
  p(style="font-size:16px; color:#1abc9c")
    b  27,034 Posts
    | and
    b 768 Photos 
  #mapContainer
    #map-canvas
  div(style="padding-left:0px;padding-right:50px;")
    a.btn.btn-block.btn-lg.btn-primary(href="#") Change Location
  br
