.contentbox.well(style=" ")
  p(style="font-size:16px; color:#1abc9c")
    b  Photos
  .sidebar-image-gallery
    a(href="#")
      img(src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/p526x296/1798236_736599133056570_450232763719396123_n.png?oh=0df6bd12ce0733fe7db0646fd9e607ed&oe=54ED2971&__gda__=1421159122_466325c8c57c89aa004373ce3d1b3ebc", width="", height="", alt="")
    a(href="#")
      img(src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/p526x296/1798236_736599133056570_450232763719396123_n.png?oh=0df6bd12ce0733fe7db0646fd9e607ed&oe=54ED2971&__gda__=1421159122_466325c8c57c89aa004373ce3d1b3ebc", width="", height="", alt="")
    a(href="#")
      img(src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/p526x296/1798236_736599133056570_450232763719396123_n.png?oh=0df6bd12ce0733fe7db0646fd9e607ed&oe=54ED2971&__gda__=1421159122_466325c8c57c89aa004373ce3d1b3ebc", width="", height="", alt="")
    a(href="#")
      img(src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/p526x296/1798236_736599133056570_450232763719396123_n.png?oh=0df6bd12ce0733fe7db0646fd9e607ed&oe=54ED2971&__gda__=1421159122_466325c8c57c89aa004373ce3d1b3ebc", width="", height="", alt="")
    a(href="#")
      img(src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/p526x296/1798236_736599133056570_450232763719396123_n.png?oh=0df6bd12ce0733fe7db0646fd9e607ed&oe=54ED2971&__gda__=1421159122_466325c8c57c89aa004373ce3d1b3ebc", width="", height="", alt="")
    a(href="#")
      img(src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/p526x296/1798236_736599133056570_450232763719396123_n.png?oh=0df6bd12ce0733fe7db0646fd9e607ed&oe=54ED2971&__gda__=1421159122_466325c8c57c89aa004373ce3d1b3ebc", width="", height="", alt="")
    a(href="#")
      img(src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/p526x296/1798236_736599133056570_450232763719396123_n.png?oh=0df6bd12ce0733fe7db0646fd9e607ed&oe=54ED2971&__gda__=1421159122_466325c8c57c89aa004373ce3d1b3ebc", width="", height="", alt="")
    a(href="#")
      img(src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/p526x296/1798236_736599133056570_450232763719396123_n.png?oh=0df6bd12ce0733fe7db0646fd9e607ed&oe=54ED2971&__gda__=1421159122_466325c8c57c89aa004373ce3d1b3ebc", width="", height="", alt="")
.commentbox.well(style=" ")
  p(style="font-size:16px;margin-top:-5px; margin-bottom:-10px; color:#1abc9c")
    b  More ...
