
script(src="/js/jquery.js")
script(src="/js/bootstrap.js")
script(src="/js/jqueryui.js")
script(src="/js/jquerysortsimulate.js")
script(src="/js/flat-ui.min.js")


script(src="/js/mapfunctions.js")
script(src="/js/main.js")
script(src="/js/backendInterface.js")

link(rel="stylesheet", href="/css/bootstrap.css")
link(rel="stylesheet", href="/css/flat-ui.css")
link(rel="stylesheet", href="/css/main.css")